    body
    {
        #position: absolute;
        #top: 50%;
        #left: 50%;
        #margin-right: -50%;
        #transform: translate(-50%, -50%)
    }

    table#mainTable
    {
        max-width: 930px;

        text-align: center;

    }

    td#tabRowa,td#headerRowa,td#footerRowa
    {
        background-color: lightblue; 
       # border: 0px solid black;
        width: 100px;
    }


    td#headerRowb,td#header1
    {
        background-color: lightblue; 
        #border: 0px solid black;
        width: 690px;
        /*rowspan: 2;*/
    }

    td#headerRowc
    {
        background-color: lightblue; 
        #border: 0px solid grey;
        width: 10px;
    }

    td#tabRowd,td#headerRowd,td#messageRowd,td#footerRowd
    {
        background-color: lightblue; 
        border: 0px solid grey;
    }

   td#headerRowa,td#headerRowb,td#headerRowc
   {
       height: 350px;

   }
    
   td#tabRowa
   {
       height: 30px;
       background-color: white; 
       text-align:left;
       vertical-align:bottom;
       #border: 0;
   }

   td#footerRowa
   {
       height: 30px;
   }
   td#messageHeader
   {
    float: center;
    text-align: center;
    color: black;

   }
   td#date
   {
       float: center;
       text-align: center;
   }
   td, a
   {
       font-size: 13px;
       width:100px; 
       white-space: nowrap; 
       overflow: hidden;
                
   }   

   ul#headerList li
   {
       display: inline;
       text-decoration: none;
       padding: 0;
       background-color: blue;
       color: white;        
       border-radius: 0px 0px 0 0;
       text-align:bottom;
   }

  ul#headerList a
   {

       text-decoration: none;
       #padding: 0;
       background-color: blue;
       color: white;        
       border-radius: 0px 0px 0 0;
       #border: 0px solid black;
       text-align:bottom;
       padding: 5px 30px 5px 30px;
   }


    ul#headerList a:hover,table#tableLeft a:hover
    {
        background-color:orange;
    }
    

    
   ul#headerList
    {

        padding: 0;
    }




    input#buttonLeft
    {
       width: 90px; 
       padding: 0; 
    }
    
    td#buttonTd
    { 
        border: 0px;
        vertical-align:top;

    }
    iframe#messageIframe
    {
        height: 475px;
        width: 960px;
        border: 0px;
    }

    table#tableLeft
    {
z
       height: 510px;
       padding: 0; 
       
    }

    table#tableLeft tr
    {

       padding: 0; 
       vertical-align:top;


    }

    table#tableLeft a
    {
       text-decoration: none;
       padding: 0;
       background-color: blue;
       color: white;        
       border-radius: 0px 0px 0px 0px;
       text-align:bottom;
       padding: 5px 5px 5px 5px;
        
    }
    
    td, th {
vertical-align:top;
}






















